.btn {
  transition: all 0.3s ease 0s;

  &:hover {
    transform: translateY(-7px);
  }
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.has-shadow {
  box-shadow: 0px 15px 20px rgba(0, 0 , 0, 0.4);
}
