.card {
  &-header {
    padding-bottom: 1em;
    padding-left: 0.75em;
  }

  .icon-text {
    margin-left: 1em;
  }

  &-footer {
    border-top: 1px solid $border-medium;
  }

  &-footer-item {
    justify-content: flex-start;
    font-size: small;
  }
}
