.card {
  background-color: $color-off-white;
  box-shadow: $box-shadow-default;
  &-header {
    padding-bottom: 1em;
    padding-left: 0.75em;
  }

  .icon-text {
    margin-left: 1em;
  }

  &-header {
    padding-top: 1em;
  }

  &-footer {
    border-top: 1px solid $border-medium;
    background-color: $color-grey-lighter;
  }

  &-footer-item {
    justify-content: flex-start;
    font-size: small;
  }
}
