.form-section {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.form-section_title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1rem;
  color: red;
  margin-left: 3px;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.is-expanded > .select {
  width: 100%;
}
