$color-brand-red: #dd3333;
$color-brand-red--hover: #ea2528;

$color-alt-teal: #56c1b0;
$color-alt-teal-dark: #48a097;

$color-grey-light: #cbcbcb;
$color-grey-medium: #999797;
$color-grey-medium-dark: #807e7e;
$color-grey-dark: #353638;

$color-success: #48c78e;
$color-info: #3e8ed0;
$color-warning: #ffe08a; 
$color-danger: $color-brand-red;

$border-light: rgba(0, 0, 0, 0.15);
$border-medium: rgba(0, 0, 0, 0.24);

$color-white: #fff;
$color-black: #000;

// Navigation Styles
$border: $color-brand-red;
$menu-item-border-left: 3px solid $border;
$menu-list-link-padding: 0.75em 1em;