#contractSingle {
  .columns > .column {
    border-radius: 7px;
    background-color: $color-grey-light;
    border: 1px solid $color-grey-medium;
  }
}

.sidebar {
  margin-right: 0.75rem;

  .menu-list li {
    & > a {
      padding: $menu-list-link-padding;
      &.is-active {
        position: relative;
        background-color: transparent;
        border-left: $menu-item-border-left;
        color: inherit;
        font-size: 125%;
      }
    }
  }
}

.contract__detail {
  display: flex;
  justify-content: flex-start;
}

.contract__detail > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.contract__detail.is-align-content-flex-start {
  align-items: flex-start;
}

.contract__detail h5 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #dd3333;
  margin-right: 1em;
}

.contract__contact-info {
  display: flex;
  flex-direction: column;
}
