#contractSingle {
  .columns > .column {
    border-radius: 7px;
    //background-color: $color-grey-light;
  }
}

.details-wrap {
  .table {
    width: 100%;

    td {
      border: none;
    }

    tr {
      td:first-of-type {
        width: 24%;
      }
    }

    h5 {
      font-weight: 500;
    }
  }
}

.sidebar {
  margin-right: 0.75rem;

  .box {
    height: 100%;
  }

  .menu-list li {
    & > a {
      padding: $menu-list-link-padding;
      &.is-active {
        box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 15%),
          0 0 0 1px rgb(10 10 10 / 2%);
        background-color: transparent;
        border-left: $menu-item-border-left;
        color: inherit;
        font-size: 125%;
      }
    }
  }
}

.entry-title {
  padding-bottom: 1em;
  border-bottom: 1px solid $border-light;
}

.contract {
  &__detail {
    display: flex;
    justify-content: flex-start;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 0.5em;
    }

    &.is-align-content-flex-start {
      align-items: flex-start;
    }

    & h5 {
      font-size: 1.25rem;
      font-weight: 500;
      margin-right: 1em;
    }
  }

  &__notes {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
  }
}
