.statbox {
  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    & > div {
      text-align: center;

      p,
      span {
        display: block;
      }
    }

    .card-header-title {
      font-size: 38px;
      font-weight: 500;
      padding: 0;
    }

    .icon-text {
      margin-top: 1.5em;
      margin-left: 1em;
    }

    .icon {
      padding: 1em;
    }
  }
}
